@import "~bootstrap/scss/bootstrap.scss";

.small-container{
  width: 100%;
  max-width: 650px;
}
.large-conteiner{
  width: 100%;
  max-width: 960px;
}
.center-block{
  margin:0 auto;
}
.padding{
  padding: 10px 15px;
}
.margin-top{
  margin-top: 1.5em;
}
